*{margin: 0%;
padding: 0%; }

.main{background-color: white;
height: 100%;
width: 100%;
}
.header{background-color: cyan;
        height: 100px;
        width: 100%;
        text-align: center;
        align-content: center;
}
.navbar{background-color: cyan;
    height: 100px;
    width: 100%;
    text-align:center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.main1{background-color: green;
    height: 200px;
    width: 45%;
    text-align: center;
    float: left;
    overflow: auto;
}
.artical{background-color:green; 
    height: 200px;
    width: 45%;
    text-align: center;
    float: left;
    margin-left: 3px ;
    overflow: auto;
}
.side{background-color: green;
    height: 300px;
    width: 9.5%;
    text-align: center;
    float: right;
    overflow: auto;
    margin-bottom: 5px;
}
.footer{background-color: cyan;
    height: 100px;
    width: 100%;
    text-align: center;
    
    clear: both;

}