
*{margin: 0%;
padding: 0%;}
.main{background-color: aqua;
        height: 1000px;
        width: 1200px;
        overflow: hidden;
}

.header{ background-color: green; 
        height: 150px;
        width: 1200px;
        overflow: hidden;
        text-align: center;
    font-size: larger;
}                              
.logo{background-color: rgb(108, 165, 42);
        height: 150px;
    width: 400px; float: left;
    color: yellow;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-decoration: underline;
    
}
.social{ background-color: rgb(128, 0, 0);
    height: 100px;
    width: 800px;
    float: left;
    color: yellow;
}
.menu{background-color: chocolate;
        height: 50px;
        width: 800px;
        float: right;
        color: yellow;
        
}


.containt{ background-color: blue;
            width: 1200px;
            height: 800px;
            overflow: hidden;
            text-align: center;
            text-decoration:underline ;
            font-size:x-large;
        }
     .gallary{background-color:chartreuse;
    width: 1200px;
    height: 400px;
margin-top: 0%;
}   
.course{background-color:cornflowerblue;
    height: 400px;
    width: 1200px;
    overflow: hidden;
    color:rgb(4, 0, 252);
}
.bootstrap{background-color:rgb(0, 139, 7);
            height: 400px; width: 300px;
            float: left;
}
.cloud{background-color:yellow;
    height: 400px;  width: 300px;
    float: left;
    }
.machine{ background-color: cyan;
        height: 400px; width: 300px;
        float: left;
}
.system{background-color:crimson;
    height: 400px; width: 300px;
    float: left;

}



.footer{background-color: blueviolet;
        height: 50px;
        width: 1200px;     
        font-size: xx-large;
        color:darkred ;
        text-align: center;

}

